<h1>Moosic</h1>
<h2>Welcome <%= "#{session[:user] || 'Guest'}" %></h2>

<% @songs.each do |song| %>
  <% if song.url == "" %>
    <% song_url = "https://www.youtube.com/results?search_query=#{song.title.gsub(" ", "+")}+by+#{song.artist.name.gsub(" ","+")}" %>
  <% else %>
    <% song_url = song.url %>
  <% end %>
  <div class="songs">
    <h3><a href="<%= song_url %>"><%= song.title %></a>
    <small>(by: <%= song.artist.name %>)</small></h3>
  </div>
<% end %>

<form action="/music/new">
  <input type="submit" value="Add songs" />
</form>

<form action="/music/login">
  <input type="submit" value="Login" />
</form>

<form action="/music/signup">
  <input type="submit" value="Signup" />
</form>