<form action="/music" method="post">
  <div>
    <label for="">Title:
      <input type="text" name="title" />
    </label>
  </div>
  <div>
    <label for="">Artist:
      <input type="text" name="artist" />
    </label>
  </div>
  <div>
    <label for="">Url:
      <input type="text" name="url" placeholder="Optional" />
    </label>
  </div>
  <div>
    <input type="submit" name="Submit" />
  </div>
</form>