<form action="post" method="/music">
  <div>
    <label for="">Email:
      <input type="text" name="email" />
    </label>
  </div>
  <div>
    <label for="">Password:
      <input type="password" name="password" />
    </label>
  </div>
  <div>
      <input type="submit" name="Submit" />
  </div>
</form>